@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";



* {
  font-family: Outfit, sans-serif;
}


.bg-primary {
  background-color: #5f5fff;
}

/* apply Styling  */
.active hr {
  @apply block w-full  transition-all duration-500 ease-in-out;
}

.about-card{
  @apply border px-10 md:px-15 py-8 sm:py-16 flex flex-col gap-4 text-[15px] hover:text-white hover:bg-[#5f5fff] transition-all duration-300 text-gray-600 cursor-pointer ease-in-out
}


::-webkit-scrollbar {
  display: none;
}


.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

@media (max-width: 1024px) {
  .grid-cols-auto {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .grid-cols-auto {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .grid-cols-auto {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (max-width: 740px) {
  .active p {
    @apply text-white bg-[#5f5fff]  ;
  }
}
